# Cache and logs (Symfony2) 
2 /app/cache/* 
3 /app/logs/* 
4 !app/cache/.gitkeep 
5 !app/logs/.gitkeep 
6 
 
7 # Email spool folder 
8 /app/spool/* 
9 
 
10 # Cache, session files and logs (Symfony3) 
11 /var/cache/* 
12 /var/logs/* 
13 /var/sessions/* 
14 !var/cache/.gitkeep 
15 !var/logs/.gitkeep 
16 !var/sessions/.gitkeep 
17 
 
18 # Parameters 
19 /app/config/parameters.yml 
20 /app/config/parameters.ini 
21 
 
22 # Managed by Composer 
23 /app/bootstrap.php.cache 
24 /var/bootstrap.php.cache 
25 /bin/* 
26 !bin/console 
27 !bin/symfony_requirements 
28 /vendor/ 
29 
 
30 # Assets and user uploads 
31 /web/bundles/ 
32 /web/uploads/ 
33 
 
34 # Assets managed by Bower 
35 /web/assets/vendor/ 
36 
 
37 # PHPUnit 
38 /app/phpunit.xml 
39 /phpunit.xml 
40 
 
41 # Build data 
42 /build/ 
43 
 
44 # Composer PHAR 
45 /composer.phar 
46 
 
47 # Backup entities generated with doctrine:generate:entities command 
48 */Entity/*~ 

